@media screen and (min-width: 62rem) {
  body {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .wrapper {
    width: 62.5rem;
  }
  .menu {
    display: flex;
  }
  .menu__bg.active {
    width: 35.5rem;
    height: 32.9375rem;
  }
  .menu__imgs {
    width: 10%;
  }
  .menu__hamburguer {
    display: none;
  }
  .menu__logo {
    top: 15px;
    left: 75px;
    width: 3.4375rem;
  }
  .arrow__left,
  .arrow__right {
    right: -65px;
    height: 3.6875rem;
    padding: 1.25rem 1.6875rem;
  }
  .arrow__right {
    right: -130px;
  }
  .menu__nav {
    width: 20%;
    left: 115px;
    top: 13px;
    background-color: rgba(255, 255, 255, 0);
    transition: transform 0ms;
  }
  .menu__icon-x {
    display: none;
  }
  .menu__list {
    gap: 1.5rem;
  }
  .menu__link {
    color: white;
    font-weight: 500;
  }
  .menu__link::after {
    background-color: white;
  }
  .section.active {
    padding: 0;
  }
  .section__title {
    margin: 4.375rem 4.375rem 0.625rem;
    padding: 0;
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
  .section__description {
    margin: 0.625rem 4.375rem 0.625rem;
    font-size: 0.9375rem;
  }
  .section__link {
    font-size: 0.8125rem;
    margin: 1.25rem 4.375rem;
  }
  .furniture {
    display: flex;
  }
  .furniture__dark, .furniture__white {
    width: 18.75rem;
    margin-top: -3px;
  }
  .furniture__info {
    padding: 3.125rem;
  }
  .furniture__title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 75rem) {
  .wrapper {
    width: 75rem;
  }
  .menu__bg.active {
    width: 48.125rem;
    height: 37.5rem;
  }
  .menu__logo {
    left: 93px;
    top: 34px;
    width: 4.375rem;
  }
  .arrow__left,
  .arrow__right {
    right: -82px;
    height: 5rem;
    padding: 1.875rem 2.25rem;
  }
  .arrow__right {
    right: -164px;
  }
  .menu__nav {
    top: 35px;
    left: 158px;
  }
  .menu__list {
    gap: 2rem;
  }
  .menu__link {
    font-size: 1rem;
  }
  .section__title {
    margin: 7.5rem 0 0 4.375rem;
    font-size: 2.1rem;
  }
  .section__description {
    margin-top: 0.9375rem;
  }
  .section__link {
    margin-top: 1.875rem;
  }
  .furniture__dark {
    width: 25rem;
    height: 19.375rem;
  }
  .furniture__white {
    width: 25rem;
    height: 19.375rem;
  }
}
@media screen and (min-width: 90rem) {
  .wrapper {
    width: 90rem;
  }
  .menu__bg.active {
    width: 53.125rem;
  }
  .arrow__left,
  .arrow__right {
    right: -82px;
    height: 5rem;
    padding: 1.875rem 2.1875rem;
  }
  .arrow__right {
    right: -164px;
  }
  .menu__nav {
    left: 9.875rem;
  }
  .section__title {
    margin: 8.75rem 0 0 5.625rem;
    font-size: 2.9rem;
  }
  .section__description {
    margin: 1.25rem 4.375rem 0 5.625rem;
    font-size: 0.875rem;
  }
  .section__link {
    margin: 1.875rem 0 0 5.625rem;
    font-size: 1rem;
  }
  .furniture__dark {
    width: 26.5625rem;
  }
  .furniture__white {
    width: 26.625rem;
  }
}

/*# sourceMappingURL=mq-style.css.map */
