@media screen and (min-width: 48rem) {
  .btn-hamburguer {
    display: none;
  }
  .header__hamburguer-logos > img,
  .header__icon-x,
  .header__icons,
  hr {
    display: none;
  }
  .header {
    padding-inline: 3rem;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
  }
  .header__menu-desktop {
    display: flex;
    flex-flow: row nowrap;
  }
  .header__wrapper {
    flex-flow: row nowrap;
    align-items: center;
  }
  .header__hamburguer-logos {
    padding: 0;
  }
  .header__ul {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    margin-bottom: 0;
    width: 100%;
    margin-inline-end: 1rem;
  }
  .header__ul li {
    color: black;
    border-bottom: none;
    padding: 0;
  }
  .header__link {
    color: black;
    transition: color 150ms ease-in-out;
  }
  .header__link:hover {
    background-color: transparent;
    color: hsl(0, 94%, 66%);
    transition: color 400ms ease-in-out;
  }
  .header__link--bg:hover {
    padding: 0;
  }
  .header__link--login {
    background-color: hsl(0, 94%, 66%);
    width: auto;
    border: none;
    align-self: flex-end;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    border: 2px solid transparent;
    transition: background-color 400ms ease-in-out;
  }
  .header__link--login:hover {
    border: 2px solid hsl(0, 94%, 66%);
    background-color: white;
    color: hsl(0, 94%, 66%);
    transition: background-color 400ms ease-in-out;
  }
  .hero__img {
    width: 100%;
  }
  .hero__info {
    padding-inline: 3rem;
  }
  .features {
    padding-inline: 3rem;
  }
  .question {
    margin-block: 1.875rem;
  }
  .question__first-hr {
    margin-inline: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-block: 1.25rem 2.1875rem;
  }
  .question__hr,
  .question__first-hr {
    display: block;
    height: 1px;
    margin-block: 1.5625rem;
  }
}
@media screen and (min-width: 56.25rem) {
  body {
    width: 55rem;
    margin-inline: auto;
  }
  .header__ul {
    gap: 2rem;
    margin-inline-end: 2rem;
  }
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .hero__info {
    order: 1;
    padding-top: 50px;
  }
  .hero__container {
    order: 2;
  }
  .features__description {
    width: 45ch;
    margin-inline: auto;
  }
  .features__list {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 80%;
    margin-inline: auto;
  }
  .features__list li {
    border: none;
    flex: 1;
  }
  .features__link {
    font-size: 16px;
  }
  .features__link::after {
    bottom: -17px;
  }
  .features__link:hover::after {
    width: 100%;
  }
  .features__link.selected::after {
    width: 210px;
    bottom: -17px;
  }
  .section.active {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    height: 350px;
  }
  .section__info {
    align-self: center;
  }
  .section__title {
    text-align: left;
  }
  .section__description {
    text-align: left;
  }
  .btn__link--section {
    display: block;
    position: absolute;
    right: 320px;
    bottom: 0;
  }
  .extensions__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .card {
    box-shadow: 0 10px 10px hsla(231, 69%, 60%, 0.2);
  }
  .card:nth-child(2) {
    transform: translateY(10%);
  }
  .card:last-child {
    transform: translateY(20%);
  }
  .questions__description {
    padding-inline: 10.625rem;
    margin-block-end: 3.125rem;
  }
  .question {
    padding-inline: 9.375rem;
  }
}
@media screen and (min-width: 75rem) {
  body {
    width: 65rem;
    margin-inline: auto;
  }
  .header {
    padding-inline: 2rem;
  }
  .header__ul {
    gap: 3rem;
    margin-inline-end: 3rem;
  }
  .features__link.selected::after {
    width: 250px;
  }
}

/*# sourceMappingURL=mq-style.css.map */
