@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

@media screen and (min-width: 48rem) {
   .btn-hamburguer {
      display: none;
   }

   .header__hamburguer-logos>img,
   .header__icon-x,
   .header__icons,
   hr {
      display: none;
   }

   .header {
      padding-inline: 3rem;
   }

   .header__nav {
      display: flex;
      justify-content: space-between;
   }

   .header__menu-desktop {
      display: flex;
      flex-flow: row nowrap;
   }

   .header__wrapper {
      flex-flow: row nowrap;
      align-items: center;
   }

   .header__hamburguer-logos {
      padding: 0;
   }

   .header__ul {
      display: flex;
      gap: 1rem;
      font-size: px-to-rem(16);
      margin-bottom: 0;
      width: 100%;
      margin-inline-end: px-to-rem(16);

      li {
         color: black;
         border-bottom: none;
         padding: 0;
      }
   }

   .header__wrapper {
      gap: 3rem;
   }

   .header__link {
      font-size: px-to-rem(12);
      color: black;
      transition: color 150ms ease-in-out;

      &:hover {
         background-color: transparent;
         color: hsl(0, 94%, 66%);
         transition: color 400ms ease-in-out;
      }
   }

   .header__link--bg {

      &:hover {
         padding: 0;
      }
   }

   .header__link--login {
      background-color: hsl(0, 94%, 66%);
      width: auto;
      border: none;
      align-self: flex-end;
      padding: 10px 25px;
      border-radius: 5px;
      color: white;
      font-weight: 500;
      border: 2px solid transparent;
      transition: background-color 400ms ease-in-out;

      &:hover {
         border: 2px solid hsl(0, 94%, 66%);
         background-color: white;
         color: hsl(0, 94%, 66%);
         transition: background-color 400ms ease-in-out;
      }
   }

   .hero__img {
      width: 100%;
   }

   .hero__info {
      padding-inline: 3rem;
   }

   .features {
      padding-inline: 3rem;
   }

   .questions__description {
      padding-inline: px-to-rem(170);
      margin-block-end: px-to-rem(50);
   }

   .question {
      padding-inline: px-to-rem(150);
   }   

   .question__first-hr {
      margin-inline: auto;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin-block: px-to-rem(20) px-to-rem(35);
   }

   .question__hr,
   .question__first-hr {
      display: block;
      height: 1px;
      margin-block: px-to-rem(25);
   }

   .contact {
      padding-inline: px-to-rem(170);

   }

}

@media screen and (min-width: 56.25rem) {
   body {
      margin-inline: auto;
   }
   
   .header, main {
      width: 55rem;
      margin-inline: auto;
   }
   
   .header__ul {
      gap: 2rem;
      margin-inline-end: 2rem;
   }

   .hero {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

   }

   .hero__info {
      order: 1;
      padding-top: 50px;
   }

   .hero__container {
      order: 2;
   }

   .features__description {
      width: 45ch;
      margin-inline: auto;
   }

   .features__list {
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      width: 80%;
      margin-inline: auto;

      li {
         border: none;
         flex: 1;
      }
   }

   .features__link {
      font-size: 16px;

      &::after {
         bottom: -17px;
      }

      &:hover::after {
         width: 100%;
      }
   }

   .features__link.selected::after {
      width: 210px;
      bottom: -17px;
   }

   .section.active {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
      height: 350px;
   }

   .section__info {
      height: 100px;
   }

   .section__title {
      margin-block-start: px-to-rem(50);
      text-align: left;

   }

   .section__description {
      text-align: left;
   }

   .btn__link--section {
      display: block;
      position: absolute;
      right: 320px;
      bottom: 50px;
   }

   .extensions__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
   }

   .card {
      box-shadow: 0 10px 10px hsla(231, 69%, 60%, .2);
   }

   .card:nth-child(2) {
      transform: translateY(10%);
   }

   .card:last-child {
      transform: translateY(20%);
   }
   
   .contact__description {
      margin-block-end: px-to-rem(30);
   }

   .contact {
      padding-block-end: px-to-rem(70);
   }

   .contact__title {
      font-size: px-to-rem(32);
      margin-block-end: px-to-rem(40);
   }

   .contact__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .contact__email {
      width: 300px;
   }
   
   .contact__error-img.active {
      right: 150px;
   }
   
   .contact__button {
      margin-inline-start: px-to-rem(10);
      margin-block-start: 0;
      width: 121px;
   }
   
   .error {
      width: 300px;
      bottom: -15px;
   }

}



@media screen and (min-width: 75rem) {
   .header, .main {
      width: 65rem;
      margin-inline: auto;
   }

   .header {
      padding-inline: 2rem;
   }

   .header__ul {
      gap: 3rem;
      margin-inline-end: 3rem;
   }

   .features__link.selected::after {
      width: 250px;
   }

   .btn__link--section {
      right: 400px;
   }

   .extensions {
      padding-inline: px-to-rem(90);
   }

   .extensions__description {
      width: 50ch;
      margin-inline: auto;
   }

   .questions__title {
      padding-block-start: px-to-rem(80);
      font-size: px-to-rem(33);
   }

   .questions__description {
      font-size: px-to-rem(18);
      margin-inline: auto;
      width: 75ch;
   }

   .question {
      padding-inline: px-to-rem(180);
   }
   
   .footer {
      height: px-to-rem(100);
   }
   
   .footer__wrapper {
      width: 65rem;
      margin-inline: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

   }

   .footer__links {
      display: flex;
      align-items: center;
      gap: 6rem;
   }

   .footer__list {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      align-items: center;
      gap: 3rem;
      padding: 0;
   }
}
