/* rubik-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/rubik-v28-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/rubik-v28-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body,
button,
textarea,
select {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}

body {
  padding: 2.5rem 1.875rem;
}

.header__logos {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.header__menu-hamburguer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 43, 70, 0.97);
}

.header__hamburguer-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.8125rem 3.125rem 1.875rem;
}

.header__logo {
  filter: invert(100%) brightness(1000%);
}

.header__icon-x {
  transition: transform 400ms ease-in-out;
}
.header__icon-x:hover {
  transform: scale(1.2);
  transition: transform 400ms ease-in-out;
  cursor: pointer;
}

hr {
  margin-inline: auto;
  border: none;
  width: 85%;
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
}

.header__table {
  margin-inline: auto;
  width: 85%;
  border-collapse: collapse;
  margin-bottom: 1.875rem;
}
.header__table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header__table tr th {
  padding-block: 1.2rem;
}

.btn__link {
  text-decoration: none;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.btn__link--bg {
  transition: background-color 150ms ease-in-out;
}
.btn__link--bg:hover {
  transition: background-color 400ms ease-in-out;
  background-color: black;
  padding: 5px;
}

.btn__link--login {
  display: inline-block;
  text-align: center;
  width: 85%;
  border: 2px solid white;
  border-radius: 10px;
  padding-block: 1rem;
  align-self: center;
  transition: background-color 200ms ease-in-out;
}
.btn__link--login:hover {
  background-color: rgb(37, 43, 70);
  transition: background-color 200ms ease-in-out;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin-inline: auto;
  margin-block: 0 3.125rem;
}

.header__icons-link {
  position: relative;
}
.header__icons-link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background-color: white;
  bottom: -13px;
  left: 0;
  transition: width 400ms ease-in-out;
}
.header__icons-link:hover::after {
  width: 100%;
  transition: width 400ms ease-in-out;
}

.header__icons-link > img {
  transition: transform 400ms ease-in-out;
}
.header__icons-link > img:hover {
  transform: scale(1.2);
  transition: transform 400ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
