@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}


/* rubik-regular - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 400;
   src: url('../assets/fonts/rubik-v28-latin-regular.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-500 - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
   src: url('../assets/fonts/rubik-v28-latin-500.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
}

body,
button,
textarea,
select {
   font-family: 'Rubik', Arial, Helvetica, sans-serif;
   font-size: px-to-rem(18);
}

$Soft-Blue: hsl(231, 69%, 60%);
$Soft-Red: hsl(0, 94%, 66%);
$Grayish-Blue: hsl(229, 8%, 60%);
$Very-Dark-Blue: hsl(229, 31%, 21%);


.hero__title,
.features__title,
.section__title,
.extensions__title,
.card__title,
.questions__title {
   text-align: center;
   font-weight: 500;
   color: $Very-Dark-Blue;
   margin-block-end: px-to-rem(20);
   font-size: px-to-rem(28);
}

.hero__description,
.features__description,
.section__description,
.extensions__description,
.card__description,
.questions__description {
   text-align: center;
   color: $Grayish-Blue;
   font-size: clamp(1rem, 0.822rem + 0.341vh, 1.214rem);
   line-height: 1.8rem;
   margin-block-end: px-to-rem(30);
}


.header {
   padding: px-to-rem(40) px-to-rem(30);
   margin-block-end: px-to-rem(30);
}

.header__logos {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__wrapper {
   display: flex;
   flex-flow: column nowrap;
}

.btn-hamburguer,
.btn-close {
   border: none;
   background: none;
}

.header__hamburguer-icon {
   transition: transform 400ms ease-in-out;

   &:hover {
      transform: scale(1.2);
      transition: transform 400ms ease-in-out;
      cursor: pointer;
   }
}

.header__menu-hamburguer {
   @media screen and (max-width: 48rem) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(37, 43, 70, .97);
      transform: translateX(100%);
      transition: transform 400ms ease-in-out;
   }
}

.header__menu-hamburguer.is-open {
   transform: translateX(0);
}

.header__hamburguer-logos {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: px-to-rem(40) px-to-rem(35) px-to-rem(30);
}

.header__logo {
   filter: invert(100%) brightness(1000%);
}


.header__icon-x {
   transition: transform 400ms ease-in-out;

   &:hover {
      transform: scale(1.2);
      transition: transform 400ms ease-in-out;
      cursor: pointer;
   }
}

.header__hr {
   margin-inline: auto;
   border: none;
   width: 85%;
   border-top: 0.5px solid rgba(255, 255, 255, .2);
}


.header__ul {
   list-style: none;
   margin-inline: auto;
   margin-bottom: px-to-rem(30);
   width: 85%;

   li {
      border-bottom: .1px solid rgba(255, 255, 255, .2);
      padding: px-to-rem(25);
      text-align: center;
   }
}

.header__link {
   text-decoration: none;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-size: clamp(0.575rem, 0.568rem + 0.536vh, 1.25rem);
}

.header__link--bg {
   color: white;
   transition: background-color 150ms ease-in-out;

   &:hover {
      transition: background-color 400ms ease-in-out;
      background-color: black;
      padding: 10px;
   }
}

.header__link--login {
   font-size: clamp(0.575rem, 0.568rem + 0.536vh, 1.25rem);
   color: white;
   display: inline-block;
   text-align: center;
   width: 85%;
   border: 2px solid white;
   border-radius: 10px;
   padding-block: 1rem;
   align-self: center;
   transition: background-color 200ms ease-in-out;

   &:hover {
      background-color: rgba(37, 43, 70);
      transition: background-color 200ms ease-in-out;
   }
}

.header__icons {
   display: flex;
   align-items: center;
   gap: 2rem;
   list-style: none;
   margin-inline: auto;
   margin-block: 0 px-to-rem(50);
}

.header__icons-link {
   position: relative;

   &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 3px;
      background-color: white;
      bottom: -13px;
      left: 0;
      transition: width 400ms ease-in-out;
   }

   &:hover::after {
      width: 100%;
      transition: width 400ms ease-in-out;
   }
}

.header__icons-link>img {
   transition: transform 400ms ease-in-out;

   &:hover {
      transform: scale(1.2);
      transition: transform 400ms ease-in-out;
   }
}

.hero__container {
   position: relative;
   overflow: hidden;
   margin-block-end: px-to-rem(50);
   height: auto;
}

.hero__img {
   width: 100%;
   height: auto;
}

// .hero__bg {
//    position: absolute;
//    top: 55px;
//    right: -44px;
//    width: 100%;
//    background-color: $Soft-Blue;
//    height: 100%;
//    border-radius: 0 0 0 60%;
//    z-index: -1;
// }

// .hero__bg {
//    @media screen and (min-width: px-to-rem(450)) {
//       top: 76px;
//       right: -79px
//    }
// }

.hero__info {
   padding-inline: px-to-rem(30);
   margin-block-end: px-to-rem(150);
}

.hero__links {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.btn__link {
   text-decoration: none;
   color: white;
   background-color: $Soft-Blue;
   padding: 17px 12px;
   border-radius: 5px;
   font-size: px-to-rem(14);
   font-weight: 500;
   transition: all 300ms ease-in-out;

   &:hover {
      box-shadow: 0 4px 10px hsla(231, 69%, 60%, .4);
      background-color: white;
      color: hsl(229, 18%, 40%);
      transition: all 300ms ease-in-out;
   }
}

.features {
   position: relative;
   padding-inline: px-to-rem(30);
}

.features__hr {
   border-top: 1px solid rgba(0, 0, 0, .2);
}

.features__list {
   list-style: none;
   margin-block-end: px-to-rem(100);

   li {
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      padding: px-to-rem(15);
      margin-inline: auto;
      text-align: center;
   }
}

.features__link {
   position: relative;
   text-decoration: none;
   color: hsl(236, 6%, 46%);


   &::after {
      position: absolute;
      content: '';
      width: 0;
      background-color: $Soft-Red;
      left: 50%;
      bottom: -15px;
      height: 4px;
      transition: width 400ms ease-in-out,
         color 400ms ease-in-out;
      transform: translate(-50%);
   }

   &:hover::after {
      width: 90%;
      transition: width 400ms ease-in-out;
   }

   &:hover {
      color: $Very-Dark-Blue;
      transition: color 400ms ease-in-out;
   }
}

.features__link.selected {
   color: $Very-Dark-Blue;

   &::after {
      width: 100%;

   }
}

.section {
   display: none;

}

.section.active {
   display: block;
   margin-block-end: px-to-rem(150);

}

.section__img {
   width: 100%;
   // height: 100%;
   margin-inline: auto;
   margin-block-end: px-to-rem(50);
}

// .section__bg {
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    right: 50%;
//    width: 100%;
//    background-color: $Soft-Blue;
//    height: 200px;
//    border-radius: 0 0 60% 0;
//    z-index: -1;
// }

.btn__link--section {
   display: none;
}

.extensions {
   padding-inline: px-to-rem(30);
   margin-block-end: px-to-rem(170);
}

.card {
   margin-block-start: px-to-rem(60);
   border-radius: 10px;
   padding: px-to-rem(50) 0 px-to-rem(20);
   box-shadow: 0 10px 10px hsla(231, 69%, 60%, .1);

}

.card>img {
   display: block;
   margin-inline: auto;
   margin-block-end: px-to-rem(30);
}

.card__title {
   margin-block-end: px-to-rem(10);
   font-size: px-to-rem(23);
}

.btn__link--card {
   display: block;
   margin-inline: auto;
   text-align: center;
   width: 90%;

   &:hover {
      border: 2px solid hsl(231, 69%, 60%);
      color: hsl(231, 69%, 60%);
      ;
   }
}

.card__dots {
   width: 100%;
}

.questions {
   padding-inline: px-to-rem(30);
}

.question__first-hr {
   display: none;
}

.questions__description {
   margin-block-end: px-to-rem(80);
}

.question__info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}

.question__info:hover .question__title {
   color: $Soft-Red;
   transition: color 200ms ease-in-out;      
}

.question__title {
   font-weight: 500;
   color: $Very-Dark-Blue;
   transition: color 200ms ease-in-out;
}

.question__img {
   transition: transform 200ms ease-in-out;

   &:hover {
      transform: scale(1.2);
      transition: transform 200ms ease-in-out;
      cursor: pointer;
   }
}

.question__img.active {
   transform: rotate(180deg);
   transition: transform 600ms ease-in-out;
   filter: sepia(1) saturate(10000%) brightness(.8);

}

.question__description {
   height: 0;
   opacity: 0;
   transition: height 600ms ease-in-out,

}

.question__description.active {
   display: block;
   height: auto;
   opacity: 1;
   transition: all 600ms ease-in-out;
   margin-block: px-to-rem(30);
   color: hsl(229, 8%, 40%);
   line-height: 2rem;
   font-size: px-to-rem(15);
}

.question__hr {
   margin-inline: auto;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   margin-block: px-to-rem(20) px-to-rem(35);
}

.btn__link--question {
   display: block;
   text-align: center;
   margin-inline: auto;
   width: 30%;
}
