@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}


/* rubik-regular - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 400;
   src: url('../assets/fonts/rubik-v28-latin-regular.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-500 - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
   src: url('../assets/fonts/rubik-v28-latin-500.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
}

body,
button,
textarea,
select {
   font-family: 'Rubik', Arial, Helvetica, sans-serif;
   font-size: px-to-rem(18);
}

$Soft-Blue: hsl(231, 69%, 60%);
$Soft-Red: hsl(0, 94%, 66%);
$Grayish-Blue: hsl(229, 8%, 60%);
$Very-Dark-Blue: hsl(229, 31%, 21%);


body {
   display: grid;
   place-items: center;
   width: 100vw;
}

.header {
   padding: px-to-rem(40) px-to-rem(30);
   margin-block-end: px-to-rem(30);
}

.header__logos {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__wrapper {
   display: flex;
   flex-flow: column nowrap;
}

.btn-hamburguer,
.btn-close {
   border: none;
   background: none;
}

.header__hamburguer-icon {
   transition: transform 400ms ease-in-out;

   &:hover {
      transform: scale(1.2);
      transition: transform 400ms ease-in-out;
      cursor: pointer;
   }
}

.header__menu-hamburguer {
   @media screen and (max-width: 48rem) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(37, 43, 70, .97);
      transform: translateX(100%);
      transition: transform 400ms ease-in-out;
   }
}

.header__menu-hamburguer.is-open {
   transform: translateX(0);
}

.header__hamburguer-logos {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: px-to-rem(40) px-to-rem(35) px-to-rem(30);
}

.header__logo {
   filter: invert(100%) brightness(1000%);
}


.header__icon-x {
   transition: transform 400ms ease-in-out;

   &:hover {
      transform: scale(1.2);
      transition: transform 400ms ease-in-out;
      cursor: pointer;
   }
}

hr {
   margin-inline: auto;
   border: none;
   width: 85%;
   border-top: 0.5px solid rgba(255, 255, 255, .2);
}


.header__ul {
   list-style: none;
   margin-inline: auto;
   margin-bottom: px-to-rem(30);
   width: 85%;

   li {
      border-bottom: .1px solid rgba(255, 255, 255, .2);
      padding: px-to-rem(25);
      text-align: center;
   }
}

.header__link {
   text-decoration: none;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-size: clamp(0.575rem, 0.568rem + 0.536vh, 1.25rem);
}

.header__link--bg {
   color: white;
   transition: background-color 150ms ease-in-out;

   &:hover {
      transition: background-color 400ms ease-in-out;
      background-color: black;
      padding: 10px;
   }
}

.header__link--login {
   font-size: clamp(0.575rem, 0.568rem + 0.536vh, 1.25rem);
   color: white;
   display: inline-block;
   text-align: center;
   width: 85%;
   border: 2px solid white;
   border-radius: 10px;
   padding-block: 1rem;
   align-self: center;
   transition: background-color 200ms ease-in-out;

   &:hover {
      background-color: rgba(37, 43, 70);
      transition: background-color 200ms ease-in-out;
   }
}

.header__icons {
   display: flex;
   align-items: center;
   gap: 2rem;
   list-style: none;
   margin-inline: auto;
   margin-block: 0 px-to-rem(50);
}

.header__icons-link {
   position: relative;

   &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 3px;
      background-color: white;
      bottom: -13px;
      left: 0;
      transition: width 400ms ease-in-out;
   }

   &:hover::after {
      width: 100%;
      transition: width 400ms ease-in-out;
   }
}

.header__icons-link>img {
   transition: transform 400ms ease-in-out;

   &:hover {
      transform: scale(1.2);
      transition: transform 400ms ease-in-out;
   }
}

.hero__container {
   position: relative;
   overflow: hidden;
   margin-block-end: px-to-rem(50);
   height: auto;
}

.hero__img {
   width: 100%;
   height: auto;
}

.hero__bg {
   position: absolute;
   top: 55px;
   right: -44px;
   width: 100%;
   background-color: $Soft-Blue;
   height: 100%;
   border-radius: 0 0 0 60%;
   z-index: -1;
}

.hero__bg {
   @media screen and (min-width: px-to-rem(450)) {
      top: 76px;
      right: -79px
   }
}

.hero__info {
   margin-inline: px-to-rem(30);
   margin-block-end: px-to-rem(150);
}

.hero__links {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.btn__link {
   text-decoration: none;
   color: white;
   background-color: $Soft-Blue;
   padding: 17px 12px;
   border-radius: 5px;
   font-size: px-to-rem(14);
   font-weight: 500;
   transition: all 300ms ease-in-out;

   &:hover {
      box-shadow: 0 4px 10px hsla(231, 69%, 60%, .4);
      background-color: white;
      color: hsl(229, 18%, 40%);
      transition: all 300ms ease-in-out;
   }
}

.features {
   padding-inline: px-to-rem(30);
}

.features__list {
   list-style: none;
}

.hero__title,
.features__title,
.section__title,
.extensions__title,
.card__title,
.questions__title {
   text-align: center;
   font-weight: 500;
   color: $Very-Dark-Blue;
   margin-block-end: px-to-rem(20);
   font-size: px-to-rem(28);
}

.hero__description,
.features__description,
.section__description,
.extensions__description,
.card__description,
.questions__description {
   text-align: center;
   color: $Grayish-Blue;
   font-size: clamp(1rem, 0.922rem + 0.341vh, 1.214rem);
   line-height: 1.8rem;
   margin-block-end: px-to-rem(30);
}
