/* rubik-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/rubik-v28-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/rubik-v28-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body,
button,
textarea,
select {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}

body {
  display: grid;
  place-items: center;
  width: 100vw;
}

.header {
  padding: 2.5rem 1.875rem;
  margin-block-end: 1.875rem;
}

.header__logos {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.btn-hamburguer,
.btn-close {
  border: none;
  background: none;
}

.header__hamburguer-icon {
  transition: transform 400ms ease-in-out;
}
.header__hamburguer-icon:hover {
  transform: scale(1.2);
  transition: transform 400ms ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 48rem) {
  .header__menu-hamburguer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 43, 70, 0.97);
    transform: translateX(100%);
    transition: transform 400ms ease-in-out;
  }
}

.header__menu-hamburguer.is-open {
  transform: translateX(0);
}

.header__hamburguer-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2.1875rem 1.875rem;
}

.header__logo {
  filter: invert(100%) brightness(1000%);
}

.header__icon-x {
  transition: transform 400ms ease-in-out;
}
.header__icon-x:hover {
  transform: scale(1.2);
  transition: transform 400ms ease-in-out;
  cursor: pointer;
}

hr {
  margin-inline: auto;
  border: none;
  width: 85%;
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
}

.header__ul {
  list-style: none;
  margin-inline: auto;
  margin-bottom: 1.875rem;
  width: 85%;
}
.header__ul li {
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
  padding: 1.5625rem;
  text-align: center;
}

.header__link {
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: clamp(0.575rem, 0.568rem + 0.536vh, 1.25rem);
}

.header__link--bg {
  color: white;
  transition: background-color 150ms ease-in-out;
}
.header__link--bg:hover {
  transition: background-color 400ms ease-in-out;
  background-color: black;
  padding: 10px;
}

.header__link--login {
  font-size: clamp(0.575rem, 0.568rem + 0.536vh, 1.25rem);
  color: white;
  display: inline-block;
  text-align: center;
  width: 85%;
  border: 2px solid white;
  border-radius: 10px;
  padding-block: 1rem;
  align-self: center;
  transition: background-color 200ms ease-in-out;
}
.header__link--login:hover {
  background-color: rgb(37, 43, 70);
  transition: background-color 200ms ease-in-out;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin-inline: auto;
  margin-block: 0 3.125rem;
}

.header__icons-link {
  position: relative;
}
.header__icons-link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background-color: white;
  bottom: -13px;
  left: 0;
  transition: width 400ms ease-in-out;
}
.header__icons-link:hover::after {
  width: 100%;
  transition: width 400ms ease-in-out;
}

.header__icons-link > img {
  transition: transform 400ms ease-in-out;
}
.header__icons-link > img:hover {
  transform: scale(1.2);
  transition: transform 400ms ease-in-out;
}

.hero__container {
  position: relative;
  overflow: hidden;
  margin-block-end: 3.125rem;
  height: auto;
}

.hero__img {
  width: 100%;
  height: auto;
}

.hero__bg {
  position: absolute;
  top: 55px;
  right: -44px;
  width: 100%;
  background-color: hsl(231, 69%, 60%);
  height: 100%;
  border-radius: 0 0 0 60%;
  z-index: -1;
}

@media screen and (min-width: 28.125rem) {
  .hero__bg {
    top: 76px;
    right: -79px;
  }
}

.hero__info {
  margin-inline: 1.875rem;
  margin-block-end: 9.375rem;
}

.hero__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__link {
  text-decoration: none;
  color: white;
  background-color: hsl(231, 69%, 60%);
  padding: 17px 12px;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 300ms ease-in-out;
}
.btn__link:hover {
  box-shadow: 0 4px 10px hsla(231, 69%, 60%, 0.4);
  background-color: white;
  color: hsl(229, 18%, 40%);
  transition: all 300ms ease-in-out;
}

.features {
  padding-inline: 1.875rem;
}

.features__list {
  list-style: none;
}

.hero__title,
.features__title,
.section__title,
.extensions__title,
.card__title,
.questions__title {
  text-align: center;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  margin-block-end: 1.25rem;
  font-size: 1.75rem;
}

.hero__description,
.features__description,
.section__description,
.extensions__description,
.card__description,
.questions__description {
  text-align: center;
  color: hsl(229, 8%, 60%);
  font-size: clamp(1rem, 0.922rem + 0.341vh, 1.214rem);
  line-height: 1.8rem;
  margin-block-end: 1.875rem;
}

/*# sourceMappingURL=style.css.map */
