/* rubik-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/rubik-v28-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/rubik-v28-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body,
button,
textarea,
select {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}

.hero__title,
.features__title,
.section__title,
.extensions__title,
.card__title,
.questions__title {
  text-align: center;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  margin-block-end: 1.25rem;
  font-size: 1.75rem;
}

.hero__description,
.features__description,
.section__description,
.extensions__description,
.card__description,
.questions__description {
  text-align: center;
  color: hsl(229, 8%, 60%);
  font-size: clamp(1rem, 0.822rem + 0.341vh, 1.214rem);
  line-height: 1.8rem;
  margin-block-end: 1.875rem;
}

.header {
  padding: 2.5rem 1.875rem;
  margin-block-end: 1.875rem;
}

.header__logos {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.btn-hamburguer,
.btn-close {
  border: none;
  background: none;
}

.header__hamburguer-icon {
  transition: transform 400ms ease-in-out;
}
.header__hamburguer-icon:hover {
  transform: scale(1.2);
  transition: transform 400ms ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 48rem) {
  .header__menu-hamburguer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 43, 70, 0.97);
    transform: translateX(100%);
    transition: transform 400ms ease-in-out;
  }
}

.header__menu-hamburguer.is-open {
  transform: translateX(0);
}

.header__hamburguer-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2.1875rem 1.875rem;
}

.header__logo {
  filter: invert(100%) brightness(1000%);
}

.header__icon-x {
  transition: transform 400ms ease-in-out;
}
.header__icon-x:hover {
  transform: scale(1.2);
  transition: transform 400ms ease-in-out;
  cursor: pointer;
}

.header__hr {
  margin-inline: auto;
  border: none;
  width: 85%;
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
}

.header__ul {
  list-style: none;
  margin-inline: auto;
  margin-bottom: 1.875rem;
  width: 85%;
}
.header__ul li {
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
  padding: 1.5625rem;
  text-align: center;
}

.header__link {
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: clamp(0.575rem, 0.568rem + 0.536vh, 1.25rem);
}

.header__link--bg {
  color: white;
  transition: background-color 150ms ease-in-out;
}
.header__link--bg:hover {
  transition: background-color 400ms ease-in-out;
  background-color: black;
  padding: 10px;
}

.header__link--login {
  font-size: clamp(0.575rem, 0.568rem + 0.536vh, 1.25rem);
  color: white;
  display: inline-block;
  text-align: center;
  width: 85%;
  border: 2px solid white;
  border-radius: 10px;
  padding-block: 1rem;
  align-self: center;
  transition: background-color 200ms ease-in-out;
}
.header__link--login:hover {
  background-color: rgb(37, 43, 70);
  transition: background-color 200ms ease-in-out;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin-inline: auto;
  margin-block: 0 3.125rem;
}

.header__icons-link {
  position: relative;
}
.header__icons-link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background-color: white;
  bottom: -13px;
  left: 0;
  transition: width 400ms ease-in-out;
}
.header__icons-link:hover::after {
  width: 100%;
  transition: width 400ms ease-in-out;
}

.header__icons-link > img {
  transition: transform 400ms ease-in-out;
}
.header__icons-link > img:hover {
  transform: scale(1.2);
  transition: transform 400ms ease-in-out;
}

.hero__container {
  position: relative;
  overflow: hidden;
  margin-block-end: 3.125rem;
  height: auto;
}

.hero__img {
  width: 100%;
  height: auto;
}

.hero__info {
  padding-inline: 1.875rem;
  margin-block-end: 9.375rem;
}

.hero__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__link {
  text-decoration: none;
  color: white;
  background-color: hsl(231, 69%, 60%);
  padding: 17px 12px;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 300ms ease-in-out;
}
.btn__link:hover {
  box-shadow: 0 4px 10px hsla(231, 69%, 60%, 0.4);
  background-color: white;
  color: hsl(229, 18%, 40%);
  transition: all 300ms ease-in-out;
}

.features {
  position: relative;
  padding-inline: 1.875rem;
}

.features__hr {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.features__list {
  list-style: none;
  margin-block-end: 6.25rem;
}
.features__list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.9375rem;
  margin-inline: auto;
  text-align: center;
}

.features__link {
  position: relative;
  text-decoration: none;
  color: hsl(236, 6%, 46%);
}
.features__link::after {
  position: absolute;
  content: "";
  width: 0;
  background-color: hsl(0, 94%, 66%);
  left: 50%;
  bottom: -15px;
  height: 4px;
  transition: width 400ms ease-in-out, color 400ms ease-in-out;
  transform: translate(-50%);
}
.features__link:hover::after {
  width: 90%;
  transition: width 400ms ease-in-out;
}
.features__link:hover {
  color: hsl(229, 31%, 21%);
  transition: color 400ms ease-in-out;
}

.features__link.selected {
  color: hsl(229, 31%, 21%);
}
.features__link.selected::after {
  width: 100%;
}

.section {
  display: none;
}

.section.active {
  display: block;
  margin-block-end: 9.375rem;
}

.section__img {
  width: 100%;
  margin-inline: auto;
  margin-block-end: 3.125rem;
}

.btn__link--section {
  display: none;
}

.extensions {
  padding-inline: 1.875rem;
  margin-block-end: 10.625rem;
}

.card {
  margin-block-start: 3.75rem;
  border-radius: 10px;
  padding: 3.125rem 0 1.25rem;
  box-shadow: 0 10px 10px hsla(231, 69%, 60%, 0.1);
}

.card > img {
  display: block;
  margin-inline: auto;
  margin-block-end: 1.875rem;
}

.card__title {
  margin-block-end: 0.625rem;
  font-size: 1.4375rem;
}

.btn__link--card {
  display: block;
  margin-inline: auto;
  text-align: center;
  width: 90%;
}
.btn__link--card:hover {
  border: 2px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
}

.card__dots {
  width: 100%;
}

.questions {
  padding-inline: 1.875rem;
}

.question__first-hr {
  display: none;
}

.questions__description {
  margin-block-end: 5rem;
}

.question__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question__info:hover .question__title {
  color: hsl(0, 94%, 66%);
  transition: color 200ms ease-in-out;
}

.question__title {
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  transition: color 200ms ease-in-out;
}

.question__img {
  transition: transform 200ms ease-in-out;
}
.question__img:hover {
  transform: scale(1.2);
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.question__img.active {
  transform: rotate(180deg);
  transition: transform 600ms ease-in-out;
  filter: sepia(1) saturate(10000%) brightness(0.8);
}

.question__description {
  pointer-events: none;
  height: 0;
  opacity: 0;
  transition: height 600ms ease-in-out;
}

.question__description.active {
  display: block;
  height: auto;
  opacity: 1;
  transition: all 600ms ease-in-out;
  margin-block: 1.875rem;
  color: hsl(229, 8%, 40%);
  line-height: 2rem;
  font-size: 0.9375rem;
}

.question__hr {
  margin-inline: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-block: 1.25rem 2.1875rem;
}

.btn__link--question {
  display: block;
  margin-block: 3.125rem 7.5rem;
  text-align: center;
  margin-inline: auto;
  width: 120px;
}

.contact {
  padding: 3.75rem 1.875rem;
  background-color: hsl(231, 69%, 60%);
  color: white;
}

.contact__description {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.875rem;
  margin-block-end: 0.625rem;
  text-align: center;
}

.contact__title {
  font-weight: 500;
  font-size: 1.5625rem;
  text-align: center;
  line-height: 2rem;
  margin-block-end: 1.25rem;
}

.contact__email {
  height: 3.125rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding-inline-start: 1.25rem;
  font-size: 0.9375rem;
}

.footer {
  padding-inline: 1.875rem;
}

/*# sourceMappingURL=style.css.map */
