main {
   width: 570px;
   height: 450px;
   margin-top: 30px;

   display: flex;
}

aside img {
   width: 300px;
   border-radius: 10px 0 0 10px;
}

article {
   margin: 20px 10px 0 10px;

   strong {
      font-size: .7rem;
   }

   h1 {
      font-size: 1.8rem;
      margin-bottom: 25px;
   }

   p {
      font-size: .8rem;
      line-height: 1.5rem;
      margin-bottom: 25px;
      font-weight: 500;
   }

   div.value {
      gap: 15px;

      span.current-price {
         font-size: 2rem;
      }

      span.previous-price {
         font-size: 1rem;
      }
   }

   button {
      margin-top: 30px;
      height: 50px;
      font-size: 1rem;
      font-weight: 600;

      span.material-symbols-outlined {
         font-size: 1.3rem;
      }
   }
}
